/* stylelint-disable scss/media-feature-value-dollar-variable */
@use "sass-true/sass/true" as *;
@use "../src/images" as *;

@include describe("images") {
	@include describe("img-responsive") {
		@include it("should print out styles") {
			@include assert() {
				@include output() {
					@include img-responsive();
				}

				@include expect() {
					.img-responsive {
						display: block;
						max-width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}
